h1{
    text-align: right;
}

.startMenu {
    width: 45vw; 
    height: 20vh; 
    background-color: rgba(242, 242, 242, 0.7);
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.enterCode{
    display: block;
    text-align: center;
    margin: auto;
    position: relative;
    top: 28px;
}

#gameCode{
    width: 31vw; 
    height: 6vh;
    border: none;
    margin-right: 5px;
    border-radius: 5px;
    text-indent: 10px;
}

.joinButton{
    height: 6vh;
    width: 10vw; 
    border: none;
    background-color: lightblue;
    border-radius: 5px;
    background-color: rgb(190,224,211);
    color: white;   
}

.settingsButton{
    color: rgb(241,241,238);
    font-size: 60px;
    margin-top: 20px;
    margin-right: 20px;
}

.gameName {
    display: flex;
    justify-content: center;
    position: relative;
    top: 100px;
    left: 90px;
    font-size: 7.8vw;
    font-family: 'Gilroy-Bold', sans-serif;
    margin: 0;
}

.headerContainer {
    display: flex;
    align-items: center;
}

.gameName p {
    margin-right: 40px; /* Adjust the spacing between the text and the dropdown */
}

.dropdown1{
    position: relative;
    bottom: 30px;
}


body{
    background-image: url('Images/backgroundGradient.webp');
    
    background-size: 100%;
    background-size: cover;
    height: 100vh;
}

.btn-primary{
    position: relative;
    top: 5vh;
    width: 41.3vw;
    border-radius: 100px;
    height: 5.5vh;
    background-color: rgb(183,206,119) !important;
    border: none !important;
    color: white !important;
}

.flip-card-container {
    display: flex; /* Enables Flexbox */
    flex-wrap: wrap; /* Allows items to wrap to the next line */
    justify-content: flex-start; /* Aligns items to the start of the container */
    gap: 10px; /* Adds space between cards */
    padding: 10px; /* Adds padding around the container */
  }

  .fullPage {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; 
    margin-top: -110px;/* Take up the full viewport height */
}


.fullBoard {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    gap: 30px;
    margin-left: 15px;/* Optional: Adds space between the cards */
    margin-right: 15px;
    /* Add a max-width if needed, or other styling */
}



.popup {
    width: 40vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 1000; /* Ensure it's above other elements */
  }

  .headRandom {
    display: flex;       /* Enables Flexbox */
    justify-content: space-between; /* Distributes space between and around content items */
    align-items: center; /* Align items vertically in the center */
    margin-bottom: 10px; /* Optional: Adds some space below this section */
  }

  .joinCode, .randomCharacter{
    font-family: 'Gilroy-Bold', sans-serif;
  }

  .randomCharacter, #character{
    margin-top: 25px;
  }

  .disclaimer{
    font-family: 'Gilroy-Light', sans-serif;
  }
  
  #character, #code{
    font-size: 30px;
    font-family: 'Gilroy-Bold', sans-serif;
    color: #fbc30b;
  }
  
  .shareMessage{
    margin-top: -15px;
  }

  .randomButton {
    width: 15% !important;
    background-color: rgb(190,224,211) !important;
   
  }
  .popupHeading{
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 2vw;
    margin: 0;
  }
  
  .popup input {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-family: 'Gilroy-Medium', sans-serif;
  }
  
  .popup button {
    width: 100%;
    padding: 10px;
    background-color: rgb(183,206,119);
    color: white;
    border: none;
    border-radius: 5px;
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 1vw;
  }

  .popup{
    font-family: 'Gilroy-Medium', sans-serif;
  }
  
  .boardHead {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gilroy-Bold', sans-serif;
    position: relative;
    left: 100px;
}

.boardHead h1 {
    font-size: 5.8vw;
    margin-top: 45px;
    text-align: center;
    margin-right: 40px; /* Adjust as needed for spacing */
}

.dropdown{
    font-family: 'Gilroy-Medium', sans-serif;
    position: relative;
    top: 12px;
    width: 200px !important;
}





/* Add additional styles for Dropdown as needed */


  

@font-face {
    font-family: 'Gilroy-Bold';
    src: local('Gilroy-Bold'), url(./Fonts/Gilroy-Bold.ttf) format('truetype');
  }
  
  @font-face {
    font-family: 'Gilroy-Medium';
    src: local('Gilroy-Medium'), url(./Fonts/Gilroy-Medium.ttf) format('truetype');
  }
  
  @font-face {
    font-family: 'Gilroy-Light';
    src: local('Gilroy-Light'), url(./Fonts/Gilroy-Light.ttf) format('truetype');
  }


